<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.cookapp.cook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb289425251158959</string>
			</array>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeue.otf</string>
		<string>Neutra2Cond-Bold.otf</string>
		<string>Neutra2Cond-Light.otf</string>
		<string>Neutra2Cond-Medium.otf</string>
		<string>Neutra2Cond-Thin.otf</string>
		<string>Neutra2Cond-Titling.otf</string>
		<string>Neutra2Display-Bold.otf</string>
		<string>Neutra2Display-Inline.otf</string>
		<string>Neutra2Display-Light.otf</string>
		<string>Neutra2Display-Medium.otf</string>
		<string>Neutra2Display-Thin.otf</string>
		<string>Neutra2Display-Titling.otf</string>
	</array>
	<key>FacebookAppID</key>
	<string>289425251158959</string>
</dict>
</plist>
