<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.thecookapp.cook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb289425251158959</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.48</string>
	<key>FacebookAppID</key>
	<string>289425251158959</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeue.otf</string>
		<string>Neutra2Cond-Bold.otf</string>
		<string>Neutra2Cond-Light.otf</string>
		<string>Neutra2Cond-Medium.otf</string>
		<string>Neutra2Cond-Thin.otf</string>
		<string>Neutra2Cond-Titling.otf</string>
		<string>Neutra2Display-Bold.otf</string>
		<string>Neutra2Display-Inline.otf</string>
		<string>Neutra2Display-Light.otf</string>
		<string>Neutra2Display-Medium.otf</string>
		<string>Neutra2Display-Thin.otf</string>
		<string>Neutra2Display-Titling.otf</string>
		<string>Brandon_bld_it.otf</string>
		<string>Brandon_bld.otf</string>
		<string>Brandon_blk_it.otf</string>
		<string>Brandon_blk.otf</string>
		<string>Brandon_light_it.otf</string>
		<string>Brandon_light.otf</string>
		<string>Brandon_med_it.otf</string>
		<string>Brandon_med.otf</string>
		<string>Brandon_reg_it.otf</string>
		<string>Brandon_reg.otf</string>
		<string>Brandon_thin_it.otf</string>
		<string>Brandon_thin.otf</string>
	</array>
	<key>UILaunchImages~ipad</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>cook_defaultimage</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
