<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Value</key>
			<string>1/2</string>
			<key>Unit</key>
			<false/>
		</dict>
		<dict>
			<key>Value</key>
			<string>1/3</string>
			<key>Unit</key>
			<false/>
		</dict>
		<dict>
			<key>Value</key>
			<string>1/4</string>
			<key>Unit</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>Value</key>
			<string>in</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>fl oz</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>pt</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>oz</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>lb</string>
			<key>Unit</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>Value</key>
			<string>tsp</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>tbsp</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>cup</string>
			<key>Unit</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>Value</key>
			<string>1/2</string>
			<key>Unit</key>
			<false/>
		</dict>
		<dict>
			<key>Value</key>
			<string>1/3</string>
			<key>Unit</key>
			<false/>
		</dict>
		<dict>
			<key>Value</key>
			<string>1/4</string>
			<key>Unit</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>Value</key>
			<string>mm</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>ml</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>l</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>g</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>kg</string>
			<key>Unit</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>Value</key>
			<string>tsp</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>tbsp</string>
			<key>Unit</key>
			<true/>
		</dict>
		<dict>
			<key>Value</key>
			<string>cup</string>
			<key>Unit</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
