.DS_Store
/Cook.xcodeproj/xcuserdata/jtanang.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/Cook.xcodeproj/project.xcworkspace/xcuserdata/jtanang.xcuserdatad/UserInterfaceState.xcuserstate
/Cook.xcodeproj/project.xcworkspace/xcuserdata/siggy.xcuserdatad/
/Cook.xcodeproj/xcuserdata/siggy.xcuserdatad/

/Cook/Classes/Controllers/.DS_Store
/Cook/Classes/External/.DS_Store
/Cook.xcodeproj/xcuserdata/jtanang.xcuserdatad/xcdebugger/
/Cook.xcodeproj/project.xcworkspace/xcshareddata/